.Repositories{
  margin: 0 20px;
  width: 100%;
  max-width: 900px;
}
.Repositories__title{
  font-size: 20px;
  float: left;
}
.Repositories__count{
  font-size: 14px;
  margin-top:4px;
  padding-bottom: 3px;
  padding: 0;
  float: left;
  background-color: #e8eaec;
  width: 30px;
  text-align: center;
  border-radius: 8px;
  margin-left: 10px;
}
.Repositories__header{
  padding: 10px 0;
}