body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center{
  margin-right: auto;
  margin-left: auto;
}
h1{
  margin: 0;
}
h2{
  margin: 0;
}
h3{
  margin: 0;
}
.clearfix:after {
  clear: both;
  content: '';
  display: table;
}

.left{
  float: left;
}
.right{
  float: right;
}