.Nav__wrapper{
  background-color: #24292e;
  color: white;
  height: 50px;
  margin-bottom: 40px;
  padding: 0 15px;
}
.logo{
  margin-top: 5px;
  font-size: 40px;
}
.logo-sign{
  margin-top: 10px;
  font-size: 24px;
  margin-left: 15px;
}
.user-img{
  margin-top: 10px;
  font-size: 24px;
  border-radius: 50%;
  height:30px
}
.options{
  margin-top: 18px;
  margin-left: 4px;
}